<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Admin Home</title>
</head>
<body>

	<h2>----------Admin Dashboard----------</h2>
	<h3>Manage your Store and Products</h3>
	<a href="/admin/products"><button>Approve Products</button></a>
	<a href="/logout"><button>Logout</button></a>

	<h2 th:if="${session.success}" th:text="${session.success}"></h2>
	<h3 th:if="${session.failure}" th:text="${session.failure}"></h3>
	<div th:text="${@sessionMessageRemover.removeMessage()}"></div>
</body>
</html>