<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Admin Products</title>
</head>
<body>

<h2  th:if="${session.success}" th:text="${session.success}"></h2> 
<h3 th:if="${session.failure}" th:text="${session.failure}"></h3>
<div th:text="${@sessionMessageRemover.removeMessage()}"></div>

<div align="center">
		<h1>Product Approval</h1>
		<h3>Review Products</h3>
		<table border="solid black 1px">
			<tr>
				<th>Name</th>
				<th>Image</th>
				<th>Description</th>
				<th>Category</th>
				<th>Stock</th>
				<th>Price</th>
				<th>Approve</th>
				<th>Reject</th>
			</tr>
			<tr th:each="product:${products}">
				<th th:text="${product.name}"></th>
				<th> <img th:src="${product.imageLink}"
					th:alt="${product.name}" height="100px" width="100px"></th>
				
			<th th:text="${product.description}"></th>
				
			<th th:text="${product.category}"></th>
			<th th:text="${product.stock}"></th>
			<th th:text="'₹'+${product.price}"></th>
			<th><a><button>Approve</button></a></th>
			<th><a><button>Reject</button></a>
		
			</tr>
	</table>
</body>
</html>