<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Customer Home</title>
</head>
<body>

<h2  th:if="${session.success}" th:text="${session.success}"></h2> 
<h3 th:if="${session.failure}" th:text="${session.failure}"></h3>
<div th:text="${@sessionMessageRemover.removeMessage()}"></div>

<h2>----------Customer Dashboard----------</h2>
<h3>Browse Products and Manage Your Orders</h3>
<a href="/customer/products"><button>View Products</button></a>
<a href=""><button>View Cart</button></a>
<a href=""><button>Previous Order</button></a>
<a href=""><button>Logout</button></a>
</body>
</html>