<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Seller Home</title>
</head>
<body>
<h2  th:if="${session.success}" th:text="${session.success}"></h2> 
<h3 th:if="${session.failure}" th:text="${session.failure}"></h3>
<div th:text="${@sessionMessageRemover.removeMessage()}"></div>

<h2>----------Seller Dashboard----------</h2>
<h3>Manage your Products and Sales</h3>
<a href="/seller/add-product"><button>Add Product</button></a>
<a href="/seller/manage-products"><button>Manage Product</button></a>
<a href=""><button>Logout</button></a>
</body>
</html>