<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Seller Products</title>
</head>
<body>

	<h2 th:if="${session.success}" th:text="${session.success}"></h2>
	<h3 th:if="${session.failure}" th:text="${session.failure}"></h3>
	<div th:text="${@sessionMessageRemover.removeMessage()}"></div>

	<div align="center">
		<h1>Manage Products</h1>
		<h3>View and Manage Your Products</h3>
		<table border="solid black 1px">
			<tr>
				<th>Name</th>
				<th>Image</th>
				<th>Description</th>
				<th>Category</th>
				<th>Price</th>
				<th>Stock</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
			<tr th:each="product:${products}">
				<th th:text="${product.name}"></th>
				<th> <img th:src="${product.imageLink}"
					th:alt="${product.name}" height="100px" width="100px"></th>
				
			<th th:text="${product.description}"></th>
				
			<th th:text="${product.category}"></th>
			<th th:text="${product.price}"></th>
			<th th:text="${product.stock}"></th>
			<th><a th:href="'/seller/edit-product/'+${product.id}"><button>Edit</button></a></th>
			<th><a th:href="'/seller/delete-product/'+${product.id}"><button>Delete</button></a>
		
			</tr>
	</table>
	
	<br><br>
	<a href="/seller/home"><button>Back</button></a>
</div>
</body>
</html>